[Unit]
Description=Serial Getty for Anvl on ttyS2 or ttyO2
After=getty.target

[Service]
# Ignore if started as a console, check for ttyS vs ttyO, skip --keep-rate
ExecStart=/bin/bash -c '\
 if /usr/bin/grep -q console=tty[SO] /proc/cmdline; then\
  echo "console on uart, not starting"; exit 1;\
 elif /usr/bin/grep -q ^0x4 /sys/class/tty/ttyS2/iomem_base; then\
  exec /sbin/agetty ttyS2 115200 $TERM;\
 else\
  exec /sbin/agetty ttyO2 115200 vt102;\
 fi'
Type=idle
Restart=on-success
KillMode=process
IgnoreSIGPIPE=no
SendSIGHUP=yes

[Install]
WantedBy=multi-user.target
