[Unit]
Description=Anvl USB online
Wants=serial-getty@ttyGS0.service
# Wants= *.timer, handled by PKGBUILD

[Service]
Type=oneshot
Environment=USER=root
ExecStart=/usr/bin/anvl-otg.sh set
ExecStop=/usr/bin/anvl-otg.sh clear
RemainAfterExit=yes

[Install]
# started by udev rule on usb-connect
# RequiredBy= serial-getty@ttyGS0.service *.timer, handled by PKGBUILD
