[Unit]
Description=Enable USB peripherals and charger and LED control

[Service]
Type=idle
ExecStart=/usr/bin/usb-manager
Restart=always

[Install]
WantedBy=multi-user.target
