[Unit]
Description=udhcpd for WiFi P2P on mwifiex driver
After=network.target

[Service]
Type=forking
PIDFile=/run/udhcpd-p2p0.pid
ExecStartPre=/usr/bin/ip addr add 192.168.3.11/24 dev p2p0
ExecStartPre=/usr/bin/ip link set p2p0 up
ExecStart=/usr/bin/udhcpd /etc/udhcpd-p2p0.conf
ExecStopPost=/usr/bin/ip link set p2p0 down
ExecStopPost=/usr/bin/ip addr flush dev p2p0

[Install]
# invoked by mwifiex-p2p_wpa.service

